<InputFile class="file-input" OnChange="async (e) => { await OnChangeFileAtEditModal(e); }" accept="@Accept" id="@FileID" hidden/>

<div >
    <label for="@FileID" style="@Style" class="file-label">
        <RadzenIcon Icon="@Icon"></RadzenIcon>
        <p style="margin-bottom: 0">@Text</p>
    </label>
</div>
<span id="file-chosen">@_fileName</span>