@page "/dashboard"
@attribute [Authorize]
@inherits BaseBlazorPage
@using WebClient.Service.Dashboards
@using Core.Const
@inject DashboardService _dashboardService;

<h3>@HeaderTitle</h3>

<div>
    <div>
        <RadzenBreadCrumb >
            <RadzenBreadCrumbItem Path="/" Icon="home" Style="font-size: 20px"/>
            <RadzenBreadCrumbItem Text="@HeaderTitle" Style="font-weight: 300"/>
        </RadzenBreadCrumb>
    </div>
</div>
<RZBR></RZBR>
<RZBR></RZBR>

<RadzenCard>
    <Row Style="display:flex;align-items: center">
        <Column ColumnSize="ColumnSize.Is2" Style="display:flex;align-items: center">
            <RadzenIcon Icon="calendar_today" Style="margin-right: 7px;font-size: 28px;color: deeppink"/>
            <DateRangePicker @bind-StartDate="Timeline.StartDay"  @bind-EndDate="Timeline.EndDay" Ranges="DateRanges" DateFormat="@DateFormatType.DateFormat" OnClosed="OnChangedDate" class="form-control form-control-md" placeholder="Select Date...">
            </DateRangePicker>
        </Column>
        <Column ColumnSize="ColumnSize.Is2" Style="display:flex;align-items: center;padding-left: 0px"> 
            <RadzenIcon Icon="dns" Style="margin-right: 7px;font-size: 28px;color: deeppink"/>

            <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Multiple="false" Placeholder="Type..." Data=@Types
                            TextProperty="Name"
                            ValueProperty="Id"
                            @bind-Value="Filter.UnitTypeId"
                            Change="OnChangeSelectedTypes" Class="w-100"/>
        </Column>
        <Column ColumnSize="ColumnSize.Is5">
            <RadzenTextBox Placeholder="Search..." Class="w-100"/>
        </Column>

        <Column ColumnSize="ColumnSize.Is2">
            <RadzenButton Text="Search" Icon="search"/>
        </Column>

    </Row>
</RadzenCard>


<RZBR></RZBR>

@if (!IsLoading)
{
    <RadzenCard>
        <Strong>Total Reviews : <span style="color:#b02a37">@Stat.TotalReview</span></Strong>
        <RadzenChart SeriesClick=@OnSeriesClick Style="width: 500px;margin: 0 auto">

            <RadzenPieSeries Data="@DetailUnitReviewdataItems" Title="Total" CategoryProperty="LabelWithValue" ValueProperty="Value">
                <TooltipTemplate Context="data">
                    <div>
                        <span>
                            @data.Label <RadzenIcon Icon="star" Style="color:gold"/>
                        </span>:
                        <strong>
                            @data.Value
                        </strong>
                    </div>
                </TooltipTemplate>
            </RadzenPieSeries>
        </RadzenChart>

    </RadzenCard>
}
<RZBR></RZBR>

@if (!IsLoading)
{
    <RadzenCard>
        <RadzenChart>
            <RadzenColumnSeries Data="@UnitReviewdataItems" CategoryProperty="Label" Title="Rating" LineType="LineType.Solid" ValueProperty="Value">

                <TooltipTemplate Context="data">
                    <div>
                        Part:<strong>@data.Label</strong>
                        <br/>
                        Rating:
                        <strong>
                            @data.Value<RadzenIcon Icon="star" Style="color:gold"/>
                        </strong>
                    </div>
                </TooltipTemplate>

            </RadzenColumnSeries>
            <RadzenSeriesDataLabels Visible="true"/>

            <RadzenColumnOptions Radius="5" Width="30"/>
            <RadzenValueAxis>
                <RadzenGridLines Visible="true"/>
                <RadzenAxisTitle Text="Average Ratting"/>
            </RadzenValueAxis>
        </RadzenChart>
    </RadzenCard>
}