@page "/notifications"
@attribute [Authorize]
@using WebClient.Service.Notications
@using WebClient.Service.SendingFiles
@using Color = MudBlazor.Color
@using Orientation = Radzen.Orientation
@inject NavigationManager _navigationManager;
@inherits BaseBlazorPage
@inject SendingFileService _sendingFileService;
@inject NotificationnService _notificationService;


<div style="display: flex;justify-content: space-between;align-items: center">
    <div>
        <RadzenBreadCrumb >
            <RadzenBreadCrumbItem Path="/" Icon="home" Style="font-size: 20px"/>
            <RadzenBreadCrumbItem Text="@HeaderTitle" Style="font-weight: 300"/>
        </RadzenBreadCrumb>
    </div>
</div>


<RZBR></RZBR>
<RadzenCard>
    <div style="display: flex;justify-content: space-between;align-items:center">
        <div>
            <RadzenCheckBox TValue="bool" Change="OnSelectAll" Name="CheckBox2"/>
            <RadzenLabel Text="Select All" Component="CheckBox2" Style="margin-left: 8px; vertical-align: middle;"/>
        </div>
        <div>
            <RadzenButton Text="Confirm Read" Click="async () => { await ConfirmRead(); }" Style="float: right" Icon="check" Disabled="IsDisable"/>
        </div>
    </div>

    <MudList Clickable="true" Dense="true" DisableGutters="@true">

        @foreach (var item in Notifications)
        {
            <div style="display: flex;justify-content: left;align-items: center;gap:5px">
                <div style="min-width: 25px">
                    @if (item.Visible)
                    {
                        <RadzenCheckBox TValue="bool" @bind-Value="@item.Status" Name="CheckBox1"/>
                    }
                </div>
                <div>
                    <MudListItem Text="@item.Title" Icon="@Icons.Material.Filled.Bookmark" OnClick="async () => { await ViewNotification(item); }" IconColor="(item.Status ? Color.Inherit : Color.Secondary)"/>
                    <div>
                        <span style="font-size: 11px;color: grey;margin-left: 15%">@item.SentDate</span>
                    </div>
                </div>
            </div>
        }

        <div>

        </div>

    </MudList>

</RadzenCard>