@page "/part-review"
@using WebClient.Service.PartReviews
@inherits BaseBlazorPage
@inject PartReviewService _partReviewService;
@inject NavigationManager _navigationManager
@using Contract.PartReviews;
@using ButtonType = Radzen.ButtonType


<h3>@HeaderTitle</h3>

<div style="display: flex;justify-content: space-between;align-items: center">
    <div>
        <RadzenBreadCrumb >
                <RadzenBreadCrumbItem Path="/" Icon="home" Style="font-size: 20px"/>
                <RadzenBreadCrumbItem Text="@HeaderTitle" Style="font-weight: 300"/>
            </RadzenBreadCrumb>
    </div>
    <div>
            @* <RadzenButton Text="Create" Click="@ShowNewModal" Icon="add" /> *@
    </div>
</div>

<RZBR></RZBR>
<RadzenCard>
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@PartReviews" TItem="PartReviewDto" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" Style="width: 100%">
        <Columns>
            <RadzenDataGridColumn TItem="PartReviewDto" Property="Index" Filterable="false" Title="Index" Frozen="true" Width="80px" TextAlign="TextAlign.Center"/>
            <RadzenDataGridColumn TItem="PartReviewDto" Property="PartReview.Note" Filterable="false" Title="Note" Frozen="true" Width="80px" TextAlign="TextAlign.Center"/>
            <RadzenDataGridColumn TItem="PartReviewDto" Property="PartReview.CreationDate" Filterable="false" Title="Creation Date" Frozen="true" Width="80px" TextAlign="TextAlign.Center"/>
    
            <RadzenDataGridColumn TItem="PartReviewDto" Property="PartReview.AveragePoint" Filterable="false" Title="Average Point" Frozen="true" Width="80px" TextAlign="TextAlign.Center">
                <Template Context="data">
                    @data.AveragePoint   <RadzenIcon Icon="star"  Style="color:gold"/>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="PartReviewDto" Property="PartReviewDto" Title="Action" Frozen="true" Width="160px">
                <Template Context="data">
                    <RadzenButton Click="async () => { await NavigateToDetails(data.Id); }" ButtonStyle="ButtonStyle.Primary" Icon="visibility" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1">  </RadzenButton>
                    <RadzenButton Click="async () => { await ShowConfirmMessage(data.Id); }" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenCard>



@* <Modal @ref="CreateModal"> *@
@*     <ModalContent Size="ModalSize.ExtraLarge"> *@
@*         <ModalHeader> *@
@*             <ModalTitle>Part Review</ModalTitle> *@
@*         </ModalHeader> *@
@*         <EditForm Model="NewReview" OnValidSubmit="async () => { await CreatePartReview(); }"> *@
@*             <ModalBody> *@
@* *@
@*                 <DataAnnotationsValidator/> *@
@*                 <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Note</RadzenText> *@
@*                 <RadzenTextArea Placeholder="Enter here..." @bind-Value="NewReview.Note" Class="w-100"/> *@
@*                 <ValidationMessage For="@(() => NewReview.Note)"/> *@
@* *@
@*                 <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Parts</RadzenText> *@
@*                 <RadzenDropDown AllowClear="true" Class="w-100" *@
@*                                 Data=Parts *@
@*                                 @bind-Value=@SelectedNewPartId *@
@*                                 TextProperty="Name" ValueProperty="Id" Change=OnCreateSelectedPart/> *@
@* *@
@*                 <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Ratting</RadzenText> *@
@* *@
@*                 <RadzenRating Stars="5" @bind-Value=@NewReview.Rating/> *@
@* *@
@*             </ModalBody> *@
@*             <ModalFooter> *@
@*                 <RadzenButton ButtonStyle="ButtonStyle.Secondary" Clicked="@HideNewModal">Close</RadzenButton> *@
@*                 <RadzenButton Text="Save Changes" ButtonType="ButtonType.Submit"/> *@
@*             </ModalFooter> *@
@*         </EditForm> *@
@*     </ModalContent> *@
@* </Modal> *@
@* *@
@* *@
@* <Modal @ref="EditModal"> *@
@*     <ModalContent Size="ModalSize.ExtraLarge"> *@
@*         <ModalHeader> *@
@*             <ModalTitle>Part Review</ModalTitle> *@
@*         </ModalHeader> *@
@*         <EditForm Model="EditReview" OnValidSubmit="async () => { await UpdatePartReview(); }"> *@
@* *@
@*             <ModalBody> *@
@*                 <DataAnnotationsValidator/> *@
@*                 <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Note</RadzenText> *@
@*                 <RadzenTextBox Class="w-100" @bind-Value="EditReview.Note"/> *@
@*                 <ValidationMessage For="@(() => EditReview.Note)"/> *@
@*                 <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Ratting</RadzenText> *@
@*                 <RadzenRating Stars="5" @bind-Value=@EditReview.Rating/> *@
@*             </ModalBody> *@
@*             <ModalFooter> *@
@*                 <Button Color="Color.Secondary" Clicked="@HideEditModal">Close</Button> *@
@*                 <RadzenButton Text="Save Changes" ButtonType="ButtonType.Submit"/> *@
@*             </ModalFooter> *@
@*         </EditForm> *@
@*     </ModalContent> *@
@* </Modal> *@