@page "/unit-review-detail"
@attribute [Authorize(Roles = "ADMIN,QUALITY MANAGER")]
@using Contract.UnitReviewDetails
@using WebClient.Service.UnitReviewDetails
@using ButtonType = Radzen.ButtonType
@inject UnitReviewDetailService _unitReviewDetailService;
@inherits BaseBlazorPage


<h3>@HeaderTitle</h3>

<div style="display: flex;justify-content: space-between;align-items: center">
    <div>
        <RadzenBreadCrumb >
            <RadzenBreadCrumbItem Path="/" Icon="home" Style="font-size: 20px"/>
            <RadzenBreadCrumbItem Path="/unit-review" Text="Unit Review"/>
            <RadzenBreadCrumbItem Text="@HeaderTitle" Style="font-weight: 300"/>
        </RadzenBreadCrumb>
    </div>
    <div>
        @* <RadzenButton Text="Create" Click="@ShowNewModal" Icon="add" /> *@
    </div>
</div>

<RZBR></RZBR>

<RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="false" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@Details" TItem="UnitReviewDetailDto" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" Style="width: 50%">
    <Columns>
        <RadzenDataGridColumn TItem="UnitReviewDetailDto" Property="UnitName" Filterable="false" Title="Unit" Frozen="true" Width="80px" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="UnitReviewDetailDto" Property="Rate" Title="Rating" Frozen="true" Width="160px">
            <Template Context="data">
                <RadzenRating ReadOnly="true" Stars="5" @bind-Value=@data.Rate />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="UnitReviewDetailDto" Property="Name" Title="Action" Frozen="true" Width="160px">
            <Template Context="data">
                <RadzenButton Click="async () => { await ShowEditModal(data); }" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium">
                </RadzenButton>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


<Modal @ref="CreateModal">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <ModalHeader>
            <ModalTitle>Create Rating</ModalTitle>
        </ModalHeader>
        <EditForm Model="NewDetail" OnValidSubmit="async () => { await CreateDetail(); }">
            <ModalBody>

                <DataAnnotationsValidator/>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Rating</RadzenText>
                <RadzenRating Stars="5" @bind-Value=@NewDetail.Rate />
            </ModalBody>
            <ModalFooter>
                <RadzenButton ButtonStyle="ButtonStyle.Dark" Click="@HideNewModal">Close</RadzenButton>
                <RadzenButton Text="Save Changes" ButtonType="ButtonType.Submit"/>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>


<Modal @ref="EditModal">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <ModalHeader>
            <ModalTitle>Update Rating</ModalTitle>
        </ModalHeader>
        <EditForm Model="EditDetail" OnValidSubmit="async () => { await UpdateDetail(); }">
            <ModalBody>
                <DataAnnotationsValidator/>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Ratting</RadzenText>
                <RadzenRating Stars="5" @bind-Value=@EditDetail.Rate />
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideEditModal">Close</Button>
                <RadzenButton Text="Save Changes" ButtonType="ButtonType.Submit"/>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>