@page "/unit-type"
@attribute [Authorize]
@using WebClient.Service.UnitTypes
@using ButtonType = Radzen.ButtonType
@inject UnitTypeService _unitTypeService;
@inject ClipboardService _clipboardService
@inject TooltipService _tooltipService
@inherits BaseBlazorPage
@using Contract.UnitTypes;
@using Microsoft.AspNetCore.Hosting
@using WebClient.Service.JS
@inject NavigationManager _navigationManager;

<h3>UnitType</h3>

<div style="display: flex;justify-content: space-between;align-items: center">
    <div>
        <RadzenBreadCrumb >
            <RadzenBreadCrumbItem Path="/" Icon="home" Style="font-size: 20px"/>
            <RadzenBreadCrumbItem Text="@HeaderTitle" Style="font-weight: 300"/>
        </RadzenBreadCrumb>
    </div>
    <div>
        <RadzenButton Text="Create" Icon="post_add" Click="@ShowNewModal" Style="margin-bottom: 20px;"/>
    </div>
</div>


<RadzenCard>
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@UnitTypes" TItem="UnitTypeDto" ColumnWidth="300px"
                    FilterMode="FilterMode.Simple"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowColumnPicking="true"
                    Style="width: 100%">
        <Columns>
            <RadzenDataGridColumn TItem="UnitTypeDto" TextAlign="TextAlign.Center" Property="Name" Title="Name" Frozen="true" Width="160px"/>
            <RadzenDataGridColumn TItem="UnitTypeDto" Property="Name" TextAlign="TextAlign.Center" Title="Action" Frozen="true" Width="160px" Filterable="false">
                <Template Context="data">

                    <RadzenButton MouseEnter="ShowTooltip" Click="async () => { await CopyToClipboard(data.Id); }" Icon="content_copy" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium">
                    </RadzenButton>
                    <RadzenButton Click="async () => { await ShowEditModal(data); }" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium">
                    </RadzenButton>
                    <RadzenButton Click="async () => { await ShowConfirmMessage(data.Id); }" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenCard>


<Modal @ref="CreateModal">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <ModalHeader>
            <ModalTitle>Unit Type</ModalTitle>
        </ModalHeader>
        <EditForm Model="NewUnitType" OnValidSubmit="async () => { await CreateUnitType(); }">
            <ModalBody>

                <DataAnnotationsValidator/>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Name</RadzenText>
                <RadzenTextBox Class="w-100" @bind-Value="NewUnitType.Name"/>
                <ValidationMessage For="@(() => NewUnitType.Name)"/>

            </ModalBody>
            <ModalFooter>
                <RadzenButton ButtonStyle="ButtonStyle.Dark" Click="@HideNewModal">Close</RadzenButton>
                <RadzenButton Text="Save Changes" ButtonType="ButtonType.Submit"/>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>

<Modal @ref="EditModal">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <ModalHeader>
            <ModalTitle>Unit Type</ModalTitle>
        </ModalHeader>
        <EditForm Model="EditUnitType" OnValidSubmit="async () => { await UpdateUnitType(); }">
            <ModalBody>
                <DataAnnotationsValidator/>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Name</RadzenText>
                <RadzenTextBox Class="w-100" @bind-Value="EditUnitType.Name"/>
                <ValidationMessage For="@(() => EditUnitType.Name)"/>

            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideEditModal">Close</Button>
                <RadzenButton Text="Save Changes" ButtonType="ButtonType.Submit"/>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>