@page "/unit-reviews"
@attribute [Authorize(Roles = "ADMIN,QUALITY MANAGER")]
@inherits BaseBlazorPage
@inject UnitReviewService _unitReviewService;
@inject UnitReviewDetailService _unitReviewDetailService;
@inject NavigationManager _navigationManager
@using Contract.UnitReviews
@using WebClient.Service.UnitReviewDetails
@using WebClient.Service.UnitReviews
@using Contract.UnitReviewDetails
@using Core.Const
@using WebClient.Service.JS
@inject DownloadFileService _downloadFile;


<h3>@HeaderTitle</h3>

<div style="display: flex;justify-content: space-between;align-items: center">
    <div>
        <RadzenBreadCrumb >
            <RadzenBreadCrumbItem Path="/" Icon="home" Style="font-size: 20px"/>
            <RadzenBreadCrumbItem Text="@HeaderTitle" Style="font-weight: 300"/>
        </RadzenBreadCrumb>
    </div>
    <div>
        <RadzenButton Text="Export Excel File" ButtonStyle="ButtonStyle.Success" Icon="download" Click="@DownloadExcelReport"/>

    </div>
</div>

<RZBR></RZBR>

<RadzenCard>
    <Row Style="display:flex;align-items: center">
        <Column ColumnSize="ColumnSize.Is2" Style="display:flex;align-items: center">
            <RadzenIcon Icon="calendar_today" Style="margin-right: 7px;font-size: 28px;color: deeppink"/>
            <DateRangePicker @bind-StartDate="Timeline.StartDay"  @bind-EndDate="Timeline.EndDay" Ranges="DateRanges" DateFormat="@DateFormatType.DateFormat" OnClosed="OnChangedDate" class="form-control form-control-md" placeholder="Select Date...">
            </DateRangePicker>
        </Column>
        
    </Row>
</RadzenCard>




<RadzenCard>
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@UnitReviews" TItem="UnitReviewDto" ColumnWidth="300px"
                    AllowSorting="true"
                    FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowColumnPicking="true"
                    PageSizeOptions="PageSizeOptions"
                    
                    Style="width: 100%">
        <Columns>

            <RadzenDataGridColumn TItem="UnitReviewDto" Property="CreationDate" Title="Creation Date" Frozen="true" Width="80px" TextAlign="TextAlign.Center">
            <Template Context="data">
                @($"{data.CreationDate:dd/MM/yyyy hh:mm tt}")
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="UnitReviewDto" Property="AveragePoint" Filterable="false" Title="Average Point" Frozen="true" Width="80px" TextAlign="TextAlign.Center">
                <Template Context="data">
                    @data.AveragePoint <RadzenIcon Icon="star" Style="color:gold"/>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="UnitReviewDto" Property="ImageUrl" Title="Enclosed Image" Frozen="true" Width="80px" TextAlign="TextAlign.Center" Filterable="false">
                <Template Context="data">
                    @if (data.ImageUrl != null)
                    {
                        <RadzenImage Path="@data.ImageUrl" class="rz-gravatar" Style="width: 64px;height: 64px"/>
                    }
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="UnitReviewDto" Property="Note" Title="Note" Frozen="true" Width="200px" Resizable="true" TextAlign="TextAlign.Center" CssClass="resize-base-on-content"/>
            <RadzenDataGridColumn TItem="UnitReviewDto" Property="AveragePoint" Title="Action" TextAlign="TextAlign.Center" Frozen="true" Width="80px" Filterable="false">
                <Template Context="data">
                    <RadzenButton Click="async () => { await ShowViewDetailModal(data.Id); }" ButtonStyle="ButtonStyle.Primary" Icon="visibility" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1"> </RadzenButton>
                    <RadzenButton Click="async () => { await ShowConfirmMessage(data.Id); }" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>


        </Columns>
    </RadzenDataGrid>
</RadzenCard>


<Modal @ref="ViewDetailModal">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <ModalHeader>
            <ModalTitle>Review Details</ModalTitle>
        </ModalHeader>
        <EditForm Model="DefaultModal">
            <ModalBody>
                <RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="false" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                Data="@Details" TItem="UnitReviewDetailDto" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="UnitReviewDetailDto" Property="UnitName" Filterable="false" Title="Unit" Width="80px" TextAlign="TextAlign.Center"/>
                        <RadzenDataGridColumn TItem="UnitReviewDetailDto" Property="Rate" Title="Rating" Width="160px">
                            <Template Context="data">
                                <RadzenRating ReadOnly="true" Stars="5" @bind-Value=@data.Rate />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

            </ModalBody>
            <ModalFooter>
                <RadzenButton ButtonStyle="ButtonStyle.Dark" Click="@HideViewDetailModal">Close</RadzenButton>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>