@page "/view-document-file"
@using WebClient.Service.DocumentFiles
@inherits BaseBlazorPage
@inject NavigationManager _navigationManager;
@inject DocumentFileService _documentFileService;




<div style="display: flex;justify-content:left;gap: 10px">
    <RadzenButton Text="Download File" Click="() => { DownloadFile(DocumentFile.URL, DocumentFile.Id); }" Icon="download"/>
    <RadzenButton Text="Print" Icon="local_printshop"/>
    <RadzenButton Text="Task Assignment" Icon="assignment"/>
</div>
<RZBR></RZBR>
<div>
    @if (DocumentFile.Extentions?.Contains("pdf") == true)
    {
        if (!DocumentFile.URL.IsNullOrWhiteSpace())
        {
            <iframe src="@DocumentFile.URL#toolbar=0" type="application/pdf" style="width: 100%;height: 80vh;"></iframe>
        }
    }
    else
    {
        <RadzenCard Style="background-color: #e8e8fa">
            <RadzenText TextStyle="TextStyle.H4" Style="color: #6f42c1">
                <b>File Infomation</b>
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body1">
                <span Style="color: #6f42c1">File Name:</span>@DocumentFile.Name
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body1">
                <span Style="color: #6f42c1">File Type:</span>@DocumentFile.Extentions
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body1">
                <span Style="color: #6f42c1">Download Count:</span>@DocumentFile.DownloadCount
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body1"><span Style="color: #6f42c1">Print Count:</span>@DocumentFile.PrintCount:</RadzenText>

        </RadzenCard>
    }
</div>